@import './variables';
$projectColor: wheat;
// $projectColor: rgb(255, 189, 66);

#projects{
    position: relative;
    height: 100vh;
    // border: 1px solid red;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
    // background-color: #263238;
    // opacity: 1;
    // background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #263238 11px ), repeating-linear-gradient( #63636355, #636363 );
    
    // margin: 0 -200px;
    // background-color: rgb(89, 100, 201);
    // margin: 0 -200px;
    // width: 100vw;
    // transition: all .15s ease-in-out;
    > div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    h2{
        color:wheat;
    }
}

.project{
    border: 5px solid black;
    background-color: rgb(70, 70, 70);
    text-align: center;
    border-radius: 10px;
    margin: 0 20px 10px 20px;

    a{
        text-decoration: none;
    }

    .fab{
        color: $projectColor;
        font-size: 30px;
        margin:0 10px;
        text-decoration: none;
        border: none;
    }
    
    .iconify{
        color: $projectColor;
        margin:0 10px;
        border: none;
    }
}


.projectName{
    padding: 10px 0;
    color: $projectColor;
    // color: white;
}

.viewport{
    height: 170px;
    width: 300px;
    // border: 1px solid red;

    img{
    // width: 300px;
    object-fit: cover;
    height: 170px;
}
}

.viewport:hover .hoverProject{
    // display: flex;
    // transition: all .15s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.viewport:hover{
    background-color: rgba(0, 0, 0, 0.384);
}

.hoverProject{
    display: flex;
    visibility: hidden;
    // display: none;
    opacity: 0;
    position: absolute;
    width: 300px;
    // padding: auto auto;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.671);
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.2s linear;

    div, button{
        background-color: rgb(211, 51, 51);
        border: 2px solid rgb(156, 36, 36);
        border-radius: 3px;
        height: auto;
        display: flex;
        align-items: center;

        a{
            font-size: 14px;
            font-weight: 700;
            padding: 4px 7px;
            // border: 1px solid red;
        }
        a:visited, a{
            color: black;
            color: white;
        }
    }

    @media only screen and (max-width: 800px) {
        visibility: visible;
        opacity: 1;
    }
}

// .fa-angle-up{
//     position: absolute;
//     font-size: 70px;
//     bottom: 20px;
//     left: 50%;
//     margin-left: -15px;
//     cursor: pointer;
//     transition: all .15s ease-in-out;
//     // border: 1px solid red;
// }

.fa-angle-up:hover{
    transform:scale(1.1);
}

// .hoverProject:hover{
//     display: block;
// }

.skills{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // border: 1px solid blue;

    div{
        border: none;
    }
}

