@use './expandingTitle';
@use './projects';
@use './tooltip';
@import './variables';

html{
    // border: 1px solid red;
    height: auto;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    // flex-flow: column;
}

body{
    // border: 1px solid red;
    background-color: $background;
    color: $text;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: auto;
    // max-width: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;
}


#welcome{
    // border: 1px solid red;
    min-height:100vh;
    display: flex;
    align-items: center;
    position: relative;
    // padding-bottom: 40px;
    div{
        // border: 1px solid red;
        display: flex;
        // justify-content: space-evenly;
    }
}

#bioInfo{
    // border: 1px solid red;
    // margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;

    p{
        // border: 1px solid blue;
        padding: 0 20px;
        line-height: 21px;
    }

    #bio{
        padding-bottom: 10px;
    }
    span{
        color: wheat;
    }
}

h1{
    color: $secondary;
    font-size: 9vw;
    font-weight: 700;
    display: flex;
    margin-top: 20px;
}

h2{
    color: $secondary;
    font-size: 7vw;
    font-weight: 700;
    margin-bottom: 20px;
}

#desktopImg{
    display: none;
}

.bioImg{
    border-radius: 50%;
}

#mobileImg{
    margin: 10px 0 10px 0;
}

#mobileLinks{
    // border: 1px solid red;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
}

#links{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.fa{
    color: $secondary;
    font-size: 30px;
    margin:0 10px;
}

.fa-angle-down, .fa-angle-up{
    position: absolute;
    font-size: 70px;
    bottom: 15px;
    left: 50%;
    margin-left: -18px;
    margin-right: 0px;
    cursor: pointer;
    transition: all .15s ease-in-out;
    // border: 1px solid red;
}

// .fa-angle-up{
//     left: 1280px - 25px;
//     left: calc(50vh - 25px)
// }

.fa-angle-down:hover{
    transform:scale(1.1);
}

a{
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 4vw;
    }
}

@media only screen and (min-width: 992px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 50px;
    }

    #welcome{
        max-width: 1030px;

        >div{
            padding:10px;
        }
    }

    #mobileImg{
        display: none;
    }

    #desktopImg{
        display: flex;
        height: 260px;
        width: 260px;
        // border: 1px solid red;
    }

    #bioInfo{
        align-items: flex-start;

        p{
            padding: 0;
        }
    }

    #bioInfo{
        margin-right: 50px;
    }

    #links .fa{
        margin:0 20px 0 0;
    }

    body{
        // max-width: 930px;
        font-size: 20px;
        font-weight: 700;
    }

    .fa-angle-down, .fa-angle-up{
        margin-left: -22px;
    }

}


@media only screen and (min-width: 800px) {
    .project{
        height: 95px + 225px;
        // background-color: rgb(226, 21, 21);
    }
    
    .viewport{
        height: 225px;
        width: 450px;
    }

    .hoverProject{
        height: 225px;
        width: 450px;
    }

    .portfolioImg{
        height: 225px;
        width: 450px;
    }
}
// border: 1px solid red;
