h1 span {
  display: inline-flex;
}

h1 span:nth-child(even) {
  overflow: hidden;
  /* transition-delay: 2s; */
  transition: ease-in-out 2s;
  letter-spacing: -1em;
}

h1 div:nth-child(1) span {
  transition-delay: 0s;
}

h1 div:nth-child(2) span {
  transition-delay: 1s;
}

h1 div:nth-child(3) span {
  transition-delay: 2s;
}

#projects {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
#projects > div {
  display: flex;
  flex-wrap: wrap;
}
#projects h2 {
  color: wheat;
}

.project {
  border: 1px solid red;
  border: 5px solid black;
  background-color: #464646;
  text-align: center;
  border-radius: 10px;
  margin: 0 20px 10px 20px;
}
.project img {
  padding: 0 5px;
}
.project .fab {
  color: wheat;
  font-size: 30px;
  margin: 0 10px;
}
.project .iconify {
  color: wheat;
  margin: 0 10px;
}

.hoverProject {
  display: flex;
  display: none;
  position: absolute;
  width: 300px;
  padding: 0 5px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.671);
  align-items: center;
  justify-content: center;
}
.hoverProject button {
  background-color: wheat;
  border: 2px solid #c0a574;
  border-radius: 3px;
}

.skills {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projectName {
  padding: 10px 0;
  color: wheat;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -20%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

html {
  height: auto;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  background-color: #263238;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: auto;
  display: flex;
  flex-flow: column;
}

#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
}
#welcome div {
  display: flex;
}

#bioInfo {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#bioInfo p {
  padding: 0 20px;
  line-height: 21px;
}

h1 {
  color: wheat;
  font-size: 9vw;
  font-weight: 700;
  display: flex;
}

h2 {
  color: wheat;
  font-size: 7vw;
  font-weight: 700;
  margin-bottom: 20px;
}

#desktopImg {
  display: none;
}

.bioImg {
  border-radius: 50%;
}

#mobileImg {
  margin: 10px 0 10px 0;
}

#mobileLinks {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}

#links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.fa {
  color: wheat;
  font-size: 30px;
  margin: 0 10px;
}

.fa-angle-down {
  position: absolute;
  font-size: 70px;
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.fa-angle-down:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  #mobileImg {
    display: none;
  }

  #desktopImg {
    display: flex;
    height: 260px;
    width: 260px;
  }

  #bioInfo {
    align-items: flex-start;
  }
  #bioInfo p {
    padding: 0;
  }

  #bioInfo {
    margin-right: 50px;
  }

  .fa {
    margin: 0 20px 0 0;
  }

  body {
    max-width: 930px;
    font-size: 20px;
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
