h1 span {
  display: inline-flex;
}

h1 span:nth-child(even) {
  overflow: hidden;
  /* transition-delay: 2s; */
  transition: ease-in-out 2s;
  letter-spacing: -1em;
}

h1 div:nth-child(1) span {
  transition-delay: 0s;
}

h1 div:nth-child(2) span {
  transition-delay: 1s;
}

h1 div:nth-child(3) span {
  transition-delay: 2s;
}

#projects {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #263238;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #263238 11px), repeating-linear-gradient(#63636355, #636363);
}
#projects > div {
  border: 1px solid blue;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #projects > div {
    width: 1200px;
  }
}
#projects h2 {
  color: wheat;
}
@media only screen and (max-width: 800px) {
  #projects {
    margin: 0;
    padding: 30px 0 70px 0;
  }
}
@media only screen and (min-width: 768px) {
  #projects {
    padding: 0;
  }
}

.project {
  border: 5px solid black;
  background-color: #464646;
  text-align: center;
  border-radius: 10px;
  margin: 0 20px 10px 20px;
}
.project a {
  text-decoration: none;
}
.project .fab {
  color: wheat;
  font-size: 30px;
  margin: 0 10px;
  text-decoration: none;
  border: none;
}
.project .iconify {
  color: wheat;
  margin: 0 10px;
  border: none;
}

.projectName {
  padding: 10px 0;
  color: wheat;
}

.viewport {
  height: 170px;
  width: 300px;
}
.viewport img {
  object-fit: cover;
  height: 170px;
}

.viewport:hover .hoverProject {
  visibility: visible;
  opacity: 1;
}

.viewport:hover {
  background-color: rgba(0, 0, 0, 0.384);
}

.hoverProject {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.671);
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 0.2s linear;
}
.hoverProject div, .hoverProject button {
  background-color: #d33333;
  border: 2px solid #9c2424;
  border-radius: 3px;
  height: auto;
  display: flex;
  align-items: center;
}
.hoverProject div a, .hoverProject button a {
  font-size: 14px;
  font-weight: 700;
  padding: 4px 7px;
}
.hoverProject div a:visited, .hoverProject div a, .hoverProject button a:visited, .hoverProject button a {
  color: black;
  color: white;
}
@media only screen and (max-width: 800px) {
  .hoverProject {
    visibility: visible;
    opacity: 1;
  }
}

.fa-angle-up:hover {
  transform: scale(1.1);
}

.skills {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills div {
  border: none;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 80px;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

html {
  height: auto;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  background-color: #263238;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
}
#welcome div {
  display: flex;
}

#bioInfo {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#bioInfo p {
  padding: 0 20px;
  line-height: 21px;
}

h1 {
  color: wheat;
  font-size: 9vw;
  font-weight: 700;
  display: flex;
}

h2 {
  color: wheat;
  font-size: 7vw;
  font-weight: 700;
  margin-bottom: 20px;
}

#desktopImg {
  display: none;
}

.bioImg {
  border-radius: 50%;
}

#mobileImg {
  margin: 10px 0 10px 0;
}

#mobileLinks {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}

#links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.fa {
  color: wheat;
  font-size: 30px;
  margin: 0 10px;
}

.fa-angle-down, .fa-angle-up {
  position: absolute;
  font-size: 70px;
  bottom: 15px;
  left: 48%;
  margin-left: -15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.fa-angle-down:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  #welcome {
    max-width: 930px;
  }

  #mobileImg {
    display: none;
  }

  #desktopImg {
    display: flex;
    height: 260px;
    width: 260px;
  }

  #bioInfo {
    align-items: flex-start;
  }
  #bioInfo p {
    padding: 0;
  }

  #bioInfo {
    margin-right: 50px;
  }

  .fa {
    margin: 0 20px 0 0;
  }

  body {
    font-size: 20px;
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
